{% extends "template.html" %}

{% block body %}
{% set loc = session.location %}

<div class="row">

  <div class="col-6">
    <h2>Telescopes</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
        <th>Aperture</th>
        <th>Focal length</th>
        <th>f ratio</th>
      </thead>
      <tbody>
        {% for telescope in telescopes %}
          <tr>
            <td>{{telescope.name}}</td>
            <td>{{telescope.aperture}}mm</td>
            <td>{{telescope.focal_length}}mm</td>
            <td>{{telescope.f_ratio}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{url_for('new_telescope')}}" method="POST">
      <div class="mb-1 row">
        <label for="name" class="col-sm-1 col-form-label">Name</label>
        <div class="col-sm-5">
          <input name="name" type="text" class="form-control-plaintext" id="name">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="aperture" class="col-sm-1 col-form-label">Aperture</label>
        <div class="col-sm-5">
          <input name="aperture" type="text" class="form-control-plaintext" id="aperture">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="focal_length" class="col-sm-1 col-form-label">Focal length</label>
        <div class="col-sm-5">
          <input name="focal_length" type="text" class="form-control-plaintext" id="focal_length">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add telescope</button>
    </form>
  </div>

  <div class="col-2"></div>

  <div class="col-4">
    <h2>Eyepieces</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Type</th>
        <th>Focal length</th>
        <th>Width</th>
      </thead>
      <tbody>
        {% for eyepiece in eyepieces %}
          <tr>
            <td>{{eyepiece.type}}</td>
            <td>{{eyepiece.focal_length}}mm</td>
            <td>{{eyepiece.width}}"</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{url_for('new_eyepiece')}}" method="POST">
      <div class="mb-1 row">
        <label for="type" class="col-sm-1 col-form-label">Type</label>
        <div class="col-sm-5">
          <input name="type" type="text" class="form-control-plaintext" id="type">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="focal_length" class="col-sm-1 col-form-label">Focal length</label>
        <div class="col-sm-5">
          <input name="focal_length" type="text" class="form-control-plaintext" id="focal_length">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="width" class="col-sm-1 col-form-label">Width</label>
        <div class="col-sm-5">
          <input name="width" type="text" class="form-control-plaintext" id="width">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add eyepiece</button>
    </form>
  </div>

</div>

<div class="row">

  <div class="col-6">
    <h2>Binoculars</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
        <th>Aperture</th>
        <th>Magnification</th>
      </thead>
      <tbody>
        {% for binocular in binoculars %}
          <tr>
            <td>{{binocular.name}}</td>
            <td>{{binocular.aperture}}mm</td>
            <td>{{binocular.magnification}}X</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{url_for('new_binocular')}}" method="POST">
      <div class="mb-1 row">
        <label for="name" class="col-sm-1 col-form-label">Name</label>
        <div class="col-sm-5">
          <input name="name" type="text" class="form-control-plaintext" id="name">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="aperture" class="col-sm-1 col-form-label">Aperture</label>
        <div class="col-sm-5">
          <input name="aperture" type="text" class="form-control-plaintext" id="aperture">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="magnification" class="col-sm-1 col-form-label">Magnification</label>
        <div class="col-sm-5">
          <input name="magnification" type="text" class="form-control-plaintext" id="magnification">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add binocular</button>
    </form>
  </div>

  <div class="col-2"></div>

  <div class="col-4">
    <h2>Filters</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
      </thead>
      <tbody>
        {% for filter in filters %}
          <tr>
            <td>{{filter.name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{url_for('new_filter')}}" method="POST">
      <div class="mb-1 row">
        <label for="name" class="col-sm-1 col-form-label">Filter</label>
        <div class="col-sm-5">
          <input name="name" type="text" class="form-control-plaintext" id="name">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add filter</button>
    </form>
  </div>

</div>


{% endblock %}
