{% extends "template.html" %}

{% block body %}
{% set loc = session.location %}

<div class="row">

  <div class="col-6">
    <h2>Telescopes</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
        <th>Aperture</th>
        <th>Focal length</th>
        <th>f ratio</th>
      </thead>
      <tbody>
        {% for telescope in telescopes %}
          <tr>
            <td>{{telescope.name}}</td>
            <td>{{telescope.aperture}}mm</td>
            <td>{{telescope.focal_length}}mm</td>
            <td>{{telescope.f_ratio}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_telescope') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="name">Name</span>
        <input
          name="name"
          type="text"
          class="form-control"
          aria-describedby="name"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="aperture">Aperture</span>
        <input
          name="aperture"
          type="text"
          class="form-control"
          aria-describedby="aperture"
        />
        <span class="input-group-text" id="aperture">mm</span>
      </div>
      <div class="input-group">
        <span class="input-group-text" id="focal_length">Focal length</span>
        <input
          name="focal_length"
          type="text"
          class="form-control"
          aria-describedby="focal_length"
        />
        <span class="input-group-text" id="focal_length">mm</span>
      </div>
      <button type="submit" class="btn btn-primary">Add telescope</button>
    </form>
  </div>

  <div class="col-2"></div>

  <div class="col-4">
    <h2>Eyepieces</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Type</th>
        <th>Focal length</th>
        <th>Width</th>
        <th>AFoV</th>
      </thead>
      <tbody>
        {% for eyepiece in eyepieces %}
          <tr>
            <td>{{eyepiece.type}}</td>
            <td>{{eyepiece.focal_length}}mm</td>
            <td>{{eyepiece.width}}"</td>
            <td>{{eyepiece.afov or '' }}&#176;</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_eyepiece') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="type">Type</span>
        <input
          name="type"
          type="text"
          class="form-control"
          aria-describedby="type"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="focal_length">Focal length</span>
        <input
          name="focal_length"
          type="text"
          class="form-control"
          aria-describedby="focal_length"
        />
        <span class="input-group-text" id="focal_length">mm</span>
      </div>
      <div class="input-group">
        <span class="input-group-text" id="width">Width</span>
        <input
          name="width"
          type="text"
          class="form-control"
          aria-describedby="width"
        />
        <span class="input-group-text" id="width">"</span>
      </div>
      <div class="input-group">
        <span class="input-group-text" id="afov">AFoV</span>
        <input
          name="afov"
          type="text"
          class="form-control"
          aria-describedby="afov"
        />
        <span class="input-group-text" id="afov">&#176;</span>
      </div>
      <button type="submit" class="btn btn-primary">Add eyepiece</button>
    </form>
  </div>

</div>

<div class="row">

  <div class="col-6">
    <h2>Binoculars</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
        <th>Aperture</th>
        <th>Magnification</th>
      </thead>
      <tbody>
        {% for binocular in binoculars %}
          <tr>
            <td>{{binocular.name}}</td>
            <td>{{binocular.aperture}}mm</td>
            <td>{{binocular.magnification}}X</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_binocular') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="name">Name</span>
        <input
          name="name"
          type="text"
          class="form-control"
          aria-describedby="name"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="aperture">Aperture</span>
        <input
          name="aperture"
          type="text"
          class="form-control"
          aria-describedby="aperture"
        />
        <span class="input-group-text" id="aperture">mm</span>
      </div>
      <div class="input-group">
        <span class="input-group-text" id="magnification">Magnification</span>
        <input
          name="magnification"
          type="text"
          class="form-control"
          aria-describedby="magnification"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add binocular</button>
    </form>
  </div>

  <div class="col-2"></div>

  <div class="col-4">
    <h2>Barlow</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
        <th>Multiplier</th>
      </thead>
      <tbody>
        {% for barlow in barlows %}
          <tr>
            <td>{{barlow.name}}</td>
            <td>{{barlow.multiplier}}X</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_barlow') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="name">Name</span>
        <input
          name="name"
          type="text"
          class="form-control"
          aria-describedby="name"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="multiplier">Multiplier</span>
        <input
          name="multiplier"
          type="text"
          class="form-control"
          aria-describedby="multiplier"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add barlow</button>
    </form>
  </div>

  <div class="col-4">
    <h2>Camera</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Manufacture</th>
        <th>Model</th>
        <th>Megapixel</th>
      </thead>
      <tbody>
        {% for camera in cameras %}
          <tr>
            <td>{{camera.manufacture}}</td>
            <td>{{camera.model}}X</td>
            <td>{{camera.megapixel}}MP</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_camera') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="manufacture">Manufacture</span>
        <input
          name="manufacture"
          type="text"
          class="form-control"
          aria-describedby="manufacture"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="model">Model</span>
        <input
          name="model"
          type="text"
          class="form-control"
          aria-describedby="model"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="megapixel">Megapixel</span>
        <input
          name="megapixel"
          type="text"
          class="form-control"
          aria-describedby="megapixel"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add camera</button>
    </form>
  </div>

</div>

<div class="row">

  <div class="col-4">
    <h2>Filters</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
      </thead>
      <tbody>
        {% for filter in filters %}
          <tr>
            <td>{{filter.name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_filter') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="name">Filter</span>
        <input
          name="name"
          type="text"
          class="form-control"
          aria-describedby="name"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add filter</button>
    </form>
  </div>

  <div class="col-2"></div>

  <div class="col-4">
    <h2>Front filters</h2>
    <table class="table table-hover">
      <thead>
      <tr>
      </tr>
        <th>Name</th>
      </thead>
      <tbody>
        {% for filter in front_filters %}
          <tr>
            <td>{{filter.name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('new_front_filter') }}" method="POST">
      <div class="input-group">
        <span class="input-group-text" id="name">Filter</span>
        <input
          name="name"
          type="text"
          class="form-control"
          aria-describedby="name"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add front filter</button>
    </form>
  </div>
</div>

{% endblock %}
