{% extends "template.html" %}

{% block body %}

<h2>Locations</h2>

<form action="{{ url_for('alter_location') }}" method="POST">
  <table class="table table-hover">
    <thead>
    <tr>
    </tr>
      <th>Name</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>UTC offset</th>
      <th>Altitude</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td>{{location.name}}</td>
          <td>{{location.country}}</td>
          <td>{{location.latitude}}</td>
          <td>{{location.longitude}}</td>
          <td>{{location.utcoffset}}</td>
          <td>{{location.altitude}}</td>
          <td>
            <button class="btn btn-danger" name="delete" value="{{location.id}}" type="submit">Delete</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<form action="{{ url_for('new_location') }}" method="POST">
    <div class="input-group">
      <span id="name" class="input-group-text">Name</span>
      <input name="name" type="text" class="form-control">
    </div>
    <div class="input-group">
      <span id="country" class="input-group-text">Country</span>
      <input name="country" type="text" class="form-control">
    </div>
    <div class="input-group">
      <span id="latitude" class="input-group-text">Latitude</span>
      <input name="latitude" type="text" class="form-control">
    </div>
    <div class="input-group">
      <span id="longitude" class="input-group-text">Longitude</span>
      <input name="longitude" type="text" class="form-control">
    </div>
    <div class="input-group">
      <span id="utcoffset" class="input-group-text">UTC offset</span>
      <input name="utcoffset" type="text" class="form-control" value="0">
    </div>
    <div class="input-group">
      <span id="altitude" class="input-group-text">Altitude</span>
      <input name="altitude" type="text" class="form-control">
    </div>
  <button type="submit" class="btn btn-primary">Add location</button>
</form>

{% endblock %}
