{% extends "template.html" %} {% block body %}

<h2>Add new object <small>(to be watched)</small></h2>
<form class="mb-5" method="POST">
  <div class="input-group">
    <label for="object" class="input-group-text">Object</label>
    <input name="object" type="text" class="form-control" id="object">
    <label for="structure" class="input-group-text">Structure</label>
    <select name="structure" class="form-select form-control-plaintext" id="structure">
      <option value=""></option>
      {% for structure in structures %}
        <option value="{{structure.name}}">{{structure.name}}</option>
      {% endfor %}
    </select>
    <div class="input-group-text">
      <input name="favourite" class="form-check-input mt-0" type="checkbox" value="">
    </div>
    <label type="text" class="input-group-text">Favourite</label>
    <button name="add_object" value="add_object" class="btn btn-primary" type="submit">Add object</button>
  </div>
</form>

<h2>Add new object kind</h2>
<form class="mb-5" method="POST" action="{{ url_for('ajax.add_kind') }}">
  <div class="input-group">
    <label for="kind" class="input-group-text">Kind</label>
    <input name="kind" type="text" class="form-control" id="kind">
    <button name="add_kind" value="add_kind" class="btn btn-primary" type="submit">Add kind</button>
  </div>
</form>

<h2>To be watched</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Favourite</th>
      <th>Alt. name(s)</th>
      <th>Structure</th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
      {% if object.to_be_watched %}
        <tr>
          <td>{{object.name}}</td>
          <td>
            {% if object.favourite %}
              <i class="fa fa-star" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-star-o" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>{{ ', '.join(object.alt_names) }}</td>
          <td>{{ object.structure.name if object.structure else '' }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2>All objects</h2>
<form method="POST">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Alt. name(s)</th>
        <th>Structure</th>
        <th>Kind</th>
        <th>Favourite</th>
        <th>Observed</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ ', '.join(object.alt_names) }}</td>
          <td>{{ object.structure.name if object.structure else '' }}</td>
          <td>
            <select onchange="update_kind(this, {{ object.id }})">
              <option value=""></option>
              {% for kind in kinds %}
                <option value="{{kind.id}}" {% if object.kind == kind %}selected{% endif %}>{{kind.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            {% if object.favourite %}
              <button
                name="toggle_favourite"
                value="{{object.id}}"
                type="submit"
                class="btn btn-primary">
                <i class="fa fa-star" aria-hidden="true"></i>
              </button>
            {% else %}
              <button
                name="toggle_favourite"
                value="{{object.id}}"
                type="submit"
                class="btn btn-outline-primary">
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </button>
            {% endif %}
          </td>
          <td>
            {% if object.to_be_watched %}
              <i class="fa fa-minus" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-check" aria-hidden="true"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<form action="{{ url_for('add_alt_name') }}" method="POST">
  <div class="input-group">
    <label for="object" class="input-group-text">Object</label>
    <select name="object" class="form-select form-control-plaintext" id="object">
      <option value=""></option>
      {% for object in objects %}
        <option value="{{object.name}}">{{object.name}}</option>
      {% endfor %}
    </select>
    <label for="alt-name" class="input-group-text">Alt. name</label>
    <input name="alt-name" type="text" class="form-control" id="object">
    <button class="btn btn-success" type="submit">Add</button></td>
  </div>
</form>

<script>
  async function update_kind(select, object_id) {
    const kind_id = select.value;
    const data = {object_id: object_id.toString(), kind_id: kind_id}
    let url = "{{ url_for('ajax.update_kind') }}";
    let options = {
      headers: {'Content-Type': 'application/json;charset=UTF-8'},
      body: JSON.stringify(data),
      method: 'POST'};
    fetch(url, options);
  }
</script>

{% endblock %}
