{% extends "template.html" %}

{% block body %}
{% set loc = session.location %}

<h2>Session - <small>{{session.date.strftime('%d/%m/%Y')}}</small>; Location - <small title="Lat.: {{loc.latitude}}, Lon.: {{loc.longitude}}, Alt.: {{loc.altitude}}m">{{session.location.name}}</small></h2>

{% if session.note is not none %}
  <p><b>Note: </b>{{session.note}}</p>
{% endif %}

<form method="POST">

  <div class="input-group">
    <label for="object" class="input-group-text">Object*</label>
    <input name="object" type="text" class="form-control" id="object" placeholder="M42">
    <div class="input-group-text">
      <input name="favourite" class="form-check-input mt-0" type="checkbox" value="">
    </div>
    <label type="text" class="input-group-text">Favourite</label>
  </div>

  <div class="input-group">
    <label for="observation-type" class="input-group-text">Observation type</label>
    <select
      name="observation-type"
      class="form-select form-control"
      id="observation-type"
      onchange="toggle_groups(this);">
      <option value="naked_eye">Naked eye</option>
      <option value="binocular">Binocular</option>
      <option value="telescope">Telescope</option>
    </select>
  </div>

  <div id="telescope-group" class="input-group" hidden>
    <label for="telescope" class="input-group-text">Telescope</label>
    <select name="telescope" class="form-select form-control" id="telescope">
      {% for telescope in telescopes %}
        <option value="{{telescope.name}}">{{telescope.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="eyepiece-group" class="input-group" hidden>
    <label for="eyepiece" class="input-group-text">Eyepiece</label>
    <select name="eyepiece" class="form-select form-control" id="eyepiece">
      {% for eyepiece in eyepieces %}
        <option value="{{eyepiece.type}}">{{eyepiece.type}} ({{eyepiece.focal_length}}mm)</option>
      {% endfor %}
    </select>
  </div>

  <div id="optical-filter-group" class="input-group" hidden>
    <label for="optical_filter" class="input-group-text">Filter (optional)</label>
    <select name="optical_filter" class="form-select form-control" id="optical_filter">
      <option value=""></option>
      {% for optical_filter in optical_filters %}
        <option value="{{optical_filter.name}}">{{optical_filter.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="front-filter-group" class="input-group" hidden>
    <label for="front_filter" class="input-group-text">Front filter (optional)</label>
    <select name="front_filter" class="form-select form-control" id="front_filter">
      <option value=""></option>
      {% for front_filter in front_filters %}
        <option value="{{front_filter.name}}">{{front_filter.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="binocular-group" class="input-group" hidden>
    <label for="binocular" class="input-group-text">Binocular</label>
    <select name="binocular" class="form-select form-control" id="binocular">
      {% for binocular in binoculars %}
      <option value="{{binocular.name}}">{{binocular.name}} ({{binocular.aperture}}X{{binocular.magnification}})</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-group">
    <label for="note" class="input-group-text">Note (optional)</label>
    <input name="note" type="text" class="form-control" id="note" placeholder="This is a note">
  </div>

  <button type="submit" class="btn btn-primary">Add observation</button>
</form>

<script>
  function toggle_groups(selector){
    var binocular_group = document.getElementById('binocular-group');
    var telescope_group = document.getElementById('telescope-group');
    var eyepiece_group = document.getElementById('eyepiece-group');
    var optical_filter_group = document.getElementById('optical-filter-group');
    var front_filter_group = document.getElementById('front-filter-group');
    switch (selector.value) {
      case 'binocular':
        binocular_group.hidden = false;
        telescope_group.hidden = true;
        eyepiece_group.hidden = true;
        optical_filter_group.hidden = true;
        break;
      case 'telescope':
        binocular_group.hidden = true;
        telescope_group.hidden = false;
        eyepiece_group.hidden = false;
        optical_filter_group.hidden = false;
        front_filter_group.hidden = false;
        break;
      case 'naked_eye':
        binocular_group.hidden = true;
        telescope_group.hidden = true;
        eyepiece_group.hidden = true;
        optical_filter_group.hidden = true;
        break;
    }
  }
</script>

{% endblock %}
