{% extends "template.html" %}

{% block body %}

<h1>Generate observing report</h1>

<!-- TODO: Implement HTMX -->
<form action="{{ url_for('ajax.get_report') }}" method="POST">

  <div class="mb-1 row">
    <label for="date" class="col-sm-1 col-form-label">Date</label>
    <div class="col-sm-4">
      <input name="date" type="date" value="{{today}}" class="form-control-plaintext" id="date">
    </div>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="frequency" id="monthly" value="monthly" checked>
    <label class="form-check-label" for="monthly">
      Monthly
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="frequency" id="yearly" value="yearly">
    <label class="form-check-label" for="yearly">
      Yearly
    </label>
  </div>

  <button class="btn mt-3" type="submit">Get report</button>

</form>

{% endblock %}
