{% extends "template.html" %}

{% block body %}

<h2>
  Result for <b>{{text}}</b>
</h2>

<h3>Objects</h3>
<table class="table table-hover">
  <thead>
  <tr>
  </tr>
    <th>Object</th>
    <th>Alt. names</th>
    <th>Structure</th>
    <th>No. of observations</th>
  </thead>
  <tbody>
    {% for object in objects %}
      <tr>
        <td>{{object.name}}</td>
        <td>{{', '.join(object.alt_names)}}</td>
        <td>{{ object.structure.name if object.structure else '' }}</td>
        <td>{{object.observation_set|length}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h3>Sessions</h3>
<table class="table table-hover">
  <thead>
  <tr>
  </tr>
    <th>Date</th>
    <th>Location</th>
    <th>No. of observations</th>
    <th>Note</th>
  </thead>
  <tbody>
    {% for session in sessions %}
      <tr>
        <td><a class="btn btn-primary" href="{{url_for('session_page', session_id=session.id)}}">{{session.date}}</a></td>
        <td>{{session.location.name}}</td>
        <td>{{session.number_of_observations}}</td>
        <td>{{session.note or ''}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h3>Observations</h3>
<table class="table table-hover">
  <thead>
  <tr>
  </tr>
    <th>Object</th>
    <th>Date</th>
    <th>Observation type</th>
    <th>Eyepiece</th>
    <th>Magnification</th>
    <th>Filter</th>
    <th>Note</th>
  </thead>
  <tbody>
    {% for observation in observations %}
      <tr>
        <td>
          {{observation.object.name}}
        </td>
        <td>
          {{observation.session.date}}
        </td>
        {% if observation.telescope is not none %}
          <td>{{observation.telescope.name}} (f{{observation.telescope.f_ratio}})</td>
        {% elif observation.binocular is not none %}
          <td>{{observation.binocular.name}}</td>
        {% else %}
          <td>Naked eye</td>
        {% endif %}
        <td>{{observation.eyepiece.type}}</td>
        {% if observation.naked_eye %}
          <td></td>
        {% else %}
          <td>{{observation.magnification}}X</td>
        {% endif %}
        <td>{{observation.optic_filter.name}}</td>
        <td>{{observation.note or ''}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
