{% extends "template.html" %}

{% block body %}
{% set loc = session.location %}

<h2>
  Session - 
  <small>
    {{session.date.strftime('%d/%m/%Y')}}
  </small>
  ; Location - 
  <small title="Lat.: {{loc.latitude}}, Lon.: {{loc.longitude}}, Alt.: {{loc.altitude}}m">
    {{session.location.name}}
  </small>
</h2>


<table class="table table-hover">
  <thead>
  <tr>
  </tr>
    <th>Object</th>
    <th>Observation type</th>
    <th>Eyepiece</th>
    <th>Magnification</th>
    <th>Filter</th>
    <th>Note</th>
  </thead>
  <tbody>
    {% for observation in session.observations %}
      <tr>
        <td>{{observation.object.name}}</td>
        {% if observation.telescope is not none %}
          <td>{{observation.telescope.name}} (f{{observation.telescope.f_ratio}})</td>
        {% elif observation.binocular is not none %}
          <td>{{observation.binocular.name}}</td>
        {% else %}
          <td>Naked eye</td>
        {% endif %}
        <td>{{observation.eyepiece.type}}</td>
        {% if observation.naked_eye %}
          <td></td>
        {% else %}
          <td>{{observation.magnification}}X</td>
        {% endif %}
        <td>{{observation.optic_filter.name}}</td>
        <td>{{observation.note or ''}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-success" href="{{url_for('new_observation', session_id=session.id)}}">Add observation</a>

<script type="text/javascript">
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


{% endblock %}
