{% extends "template.html" %}

{% block body %}

<!-- Modal for showing photos -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-fluid">
      </div>
    </div>
  </div>
</div>


{% set loc = session.location %}

<h2>
  Session - 
  <small>
    {{ session.date.strftime('%d/%m/%Y') }}
  </small>
  ; Location - 
  <small title="Lat.: {{loc.latitude}}, Lon.: {{loc.longitude}}, Alt.: {{loc.altitude}}m">
    {{session.location.name}}
  </small>
</h2>

{% if session.note is not none %}
  <p><b>Note: </b>{{session.note}}</p>
{% endif %}

<table class="table table-hover">
  <thead>
  <tr>
  </tr>
    <th>Object</th>
    <th>Observation type</th>
    <th>Eyepiece/camera</th>
    <th>Magnification</th>
    <th>Filter</th>
    <th>Note</th>
    <th></th>
  </thead>
  <tbody>
    {% for observation in session.observations %}
      {% set image = observation.image %}
      <tr {% if image is not none %}data-image-name="{{image.image_loc}}" title="Click to see image"{% endif %}>
        <td>
          {{observation.object.name}}
          {% if image is not none %}
            <i class="fa fa-image" aria-hidden="true"></i>
          {% endif %}
        </td>
        {% if observation.telescope is not none %}
          <td>{{observation.telescope.name}} (f{{observation.telescope.f_ratio}})</td>
        {% elif observation.binocular is not none %}
          <td>{{observation.binocular.name}}</td>
        {% else %}
          <td>Naked eye</td>
        {% endif %}
        <td>
          {% if observation.eyepiece is not none and observation.barlow is not none %}
            {{observation.eyepiece.type}} + {{observation.barlow.name}} {{observation.barlow.multiplier}}X
          {% elif observation.eyepiece is not none and observation.barlow is none %}
            {{observation.eyepiece.type}}
          {% elif observation.camera is not none %}
            {{observation.camera.manufacture}}, {{observation.camera.model}} ({{observation.camera.megapixel}}MP)
          {% endif %}
        </td>
        {% if observation.naked_eye %}
          <td></td>
        {% else %}
          <td>{{observation.magnification}}X</td>
        {% endif %}
        <td>
          {% if observation.front_filter is not none and observation.optic_filter is none %}
            {{observation.front_filter.name}}
          {% elif observation.front_filter is none and observation.optic_filter is not none %}
            {{observation.optic_filter.name}}
          {% elif observation.front_filter is not none and observation.optic_filter is not none %}
            {{observation.front_filter.name}} + {{observation.optic_filter.name}}
          {% endif %}
        </td>
        <td>{{ observation.note or '' }}</td>
        <td>
          <div class="input-group">
            <form
              action="{{ url_for( 'upload_image', observation_id=observation.id) }}"
              method="POST"
              enctype="multipart/form-data">
              <input name="file" type="file" style="width: 16em;" class="form-control form-control-sm">
              <button class="btn btn-sm btn-success" type="submit">Upload image</button>
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-success" href="{{url_for('new_observation', session_id=session.id)}}">Add observation</a>

<script>
  $('.table > tbody > tr').click(function() {
    var src = $(this).data('image-name');
    if (src != undefined) {
      var img = document.getElementsByClassName('img-fluid')[0];
      img.src = src;
      const myModal = new bootstrap.Modal(document.getElementById('myModal'));
      myModal.toggle();
    };
  });
</script>

{% endblock %}
