{% extends "template.html" %}

{% block body %}

<h2>Visibility curve</h2>


<form action="{{ url_for('visibility') }}" method="POST">

  <div class="input-group">
    <label for="location" class="input-group-text">Location</label>
    <select name="location" class="form-select form-control">
      {% for location in locations %}
        <option value="{{location.id}}">
        {{location.name}}, {{location.country}} (lat: {{location.latitude}}; long: {{location.longitude}}, UTC offset: {% if location.utcoffset < 0 %}-{% else %}+{% endif %}{{location.utcoffset}})
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="input-group">
    <label for="location" class="input-group-text">Own location</label>
    <label for="latitude" class="input-group-text">Latitude</label>
    <input
      name="latitude"
      type="text"
      class="form-control"
      aria-describedby="latitude"
      placeholder="For example: 55:51:18"
      value="{{ latitude or '' }}"
    />
    <label for="longitude" class="input-group-text">Longitude</label>
    <input
      name="longitude"
      type="text"
      class="form-control"
      aria-describedby="longitude"
      placeholder="For example: -9:51:10"
      value="{{ longitude or '' }}"
    />
    <label for="utcoffset" class="input-group-text">UTC offset</label>
    <input
      name="utcoffset"
      type="text"
      class="form-control"
      aria-describedby="utcoffset"
      placeholder="For example: 2"
      value="{{ utcoffset or 0 }}"
    />
    <label for="altitude" class="input-group-text">Altitude</label>
    <input
      name="altitude"
      type="text"
      class="form-control"
      aria-describedby="altitude"
      placeholder="For example: 42"
      value="{{ altitude or '' }}"
    />
    <label for="altitude" class="input-group-text">m</label>
  </div>
  
  <div class="input-group">
    <span class="input-group-text" id="name">Date</span>
    <input name="date" type="date" class="form-control" id="date" value="{{date}}">
    <div class="input-group-text">
      <input name="year" class="form-check-input mt-0" type="checkbox" value="true" {% if is_year %}checked{% endif %}>
    </div>
    <label type="text" class="input-group-text">Span over year (at midnight)</label>
  </div>

  <div class="input-group">
    <span class="input-group-text" id="name">Object(s)</span>
    <input
      name="name"
      type="text"
      class="form-control"
      aria-describedby="name"
      placeholder="For example: M42, M31, Pollux"
      value="{{ name or '' }}"
    />
  </div>

  <button type="submit" class="btn btn-primary">Get visibility plot</button>
</form>

{% if fig is not none %}
  <div style="text-align:center;">
    <div style="background-color: white;width: 1300px;margin: 0 auto;">
      {{fig|safe}}
    </div>
  </div>
{% endif %}

{% endblock %}
